<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>Editar Red</h4>
          </div>
          <div class="card-body">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/red']" routerLinkActive="active">Listado Redes</a></li>
                    <li class="breadcrumb-item"><a>Editar Red</a></li>
                  </ol>
                </nav>
              <form #documentoForm="ngForm" (ngSubmit)="updateDocumento()">


                  <label>Nombre de Red</label>
                  <div class="form-group">
                    <input type="text" class="form-control" name="descripcion" [(ngModel)]="documento.data['descripcion']" required>
                  </div>
                  <label>Iglesia a la que pertenece</label>
                  <div class="form-group">
                    <select name="iglesia" class="form-control" [(ngModel)]="documento.data['iglesia']" required>
                      <option value="{{documento2.id}}" *ngFor="let documento2 of documentos2">{{documento2.data['nombre']}}</option>
                    </select>
                  </div>
                  <label>Encargado</label>
                  <div class="form-group">

                      <ng-select [items]="documentos3"
                      bindLabel="data.nombreCompleto"
                      bindValue="id"
                      [(ngModel)]="documento.data['encargadoRed']"
                      notFoundText="No hay resultados para esta búsqueda."
                      name="encargadoRed">
                      </ng-select>

                    </div>

                  <div class="card-footer text-center">
                      <button [disabled]="!documentoForm.valid" type="submit" class="btn btn-info">Editar Red</button>
                    </div>
                </form>                
          </div>  
        </div>
      </div>
    </div>
</div>
  