<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>Nuevo Reporte</h4>
          </div>
          <div class="card-body">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/reporte-grupo']" routerLinkActive="active">Listado Reportes</a></li>
                    <li class="breadcrumb-item"><a>Crear Reporte</a></li>
                  </ol>
                </nav>
              <form #documentoForm="ngForm" (ngSubmit)="addDocumento(documentoForm)">
                  <label>Grupo</label>
                  <div class="form-group">
                    <select name="grupo" class="form-control" ngModel required>
                     <option value="{{documento3.id}}" *ngFor="let documento3 of documentos3">{{documento3.data['nombre']}}</option>
                    </select>
                  </div>
                  <label>Tema el cual desea reportar</label>
                  <div class="form-group">
                    <select name="tema" class="form-control" ngModel required>
                     <option value="{{tema.data['nombre']}}" *ngFor="let tema of temas">{{tema.data['nombre']}}</option>
                    </select>
                  </div>                  
                  <label>Predicador</label> 
                  <div class="form-group">
                      <ng-select [items]="documentos4"
                      bindLabel="data.nombreCompleto"
                      bindValue="id"
                      ngModel required
                      notFoundText="No hay resultados para esta búsqueda."
                      name="predicador">
                      </ng-select>  
                  </div> 
                  <label>Encargado de bienvenida y visión</label> 
                  <div class="form-group">
                      <ng-select [items]="documentos4"
                      bindLabel="data.nombreCompleto"
                      bindValue="id"
                      ngModel required
                      notFoundText="No hay resultados para esta búsqueda."
                      name="bienvenida_vision">
                      </ng-select>                      
                  </div> 
                  <label>Encargado de ofrenda</label> 
                  <div class="form-group">
                      <ng-select [items]="documentos4"
                      bindLabel="data.nombreCompleto"
                      bindValue="id"
                      ngModel required
                      notFoundText="No hay resultados para esta búsqueda."
                      name="ofrenda">
                      </ng-select>                        
                  </div>  
                  <label>Asistieron</label>
                  <div class="form-group">
                    <input type="number" class="form-control col-md-3" id="total" [(ngModel)]="total" name="asistieron" min="0" required>
                  </div> 
                  <label>Nuevos</label>
                  <div class="form-group">
                    <input type="number" class="form-control col-md-3" id="val1" [(ngModel)]="val1" name="nuevos" min="0" required>
                  </div>  
                  <label>Convertidos</label>
                  <div class="form-group">
                    <input type="number" class="form-control col-md-3" id="val2"  [(ngModel)]="val2" name="convertidos" min="0" required>
                  </div>  
                  <label>Reconciliados</label>
                  <div class="form-group">
                    <input type="number" class="form-control col-md-3" id="val3"  [(ngModel)]="val3" name="reconciliados" min="0" required>
                  </div>  
                  <label>Ofrendas</label>
                  <div class="form-group">                    
                    <input type="number" class="form-control col-md-3" name="ofrendas" min="0" ngModel required>
                  </div>  
                  <label>Observaciones</label>
                  <div class="form-group">
                    <textarea name="observaciones" class="form-control" ngModel></textarea>
                  </div>      
                  <div class="card-footer text-center">
                    <button [disabled]="!documentoForm.valid" type="submit" class="btn btn-info">Agregar Reporte</button>
                  </div>
                </form>                
          </div>  
        </div>
      </div>
    </div>
  </div>
  