<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>Nueva Iglesia</h4>
          </div>
          <div class="card-body">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/iglesia']" routerLinkActive="active">Listado Iglesias</a></li>
                    <li class="breadcrumb-item"><a>Crear Iglesia</a></li>
                  </ol>
                </nav>
              <form #documentoForm="ngForm" (ngSubmit)="addDocumento(documentoForm)">
                  <label>Nombre de Iglesia</label>
                  <div class="form-group">
                    <input type="text" class="form-control" name="nombre" ngModel required>
                  </div>
                  <label>Pastores</label>
                  <div class="form-group">

                      <ng-select [items]="usuarios"
                      bindLabel="data.nombreCompleto"
                      bindValue="id"
                      ngModel
                      notFoundText="No hay resultados para esta búsqueda."
                      name="encargadoIglesia">
                      </ng-select>
                      
                  </div>

                  <div class="form-group">

                      <ng-select [items]="usuarios"
                      bindLabel="data.nombreCompleto"
                      bindValue="id"
                      ngModel
                      notFoundText="No hay resultados para esta búsqueda."
                      name="encargadoIglesia2">
                      </ng-select>
                      
                  </div>
                  <div class="card-footer text-center">
                      <button [disabled]="!documentoForm.valid" type="submit" class="btn btn-info">Agregar Iglesia</button>
                    </div>
                </form>                
          </div>  
        </div>
      </div>
    </div>
</div>
  