<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>Editar Usuario</h4>
          </div>
          <div class="card-body">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/usuario']" routerLinkActive="active">Listado Usuarios</a></li>
                    <li class="breadcrumb-item"><a>Editar Usuario</a></li>
                  </ol>
                </nav>
              <form #documentoForm="ngForm" (ngSubmit)="updateDocumento()">

                  <label>Nombres</label>
                  <div class="form-group">
                    <input type="text" class="form-control" name="nombre" [(ngModel)]="documento.data['nombre']" required>
                  </div>
                  <label>Apellidos</label>
                  <div class="form-group">
                    <input type="text" class="form-control" name="apellido" [(ngModel)]="documento.data['apellido']" required>
                  </div>
                  <label>Correo Electrónico</label>
                  <div class="form-group">
                    <input type="email" class="form-control" name="correo" [(ngModel)]="documento.data['correo']" required>
                  </div>
                  <label>Contraseña</label>
                  <div class="form-group">
                    <input type="password" class="form-control" name="password" [(ngModel)]="documento.data['password']" required>
                  </div>
                  <label>Teléfono</label>
                  <div class="form-group">
                    <input type="tel" class="form-control" name="telefono" [(ngModel)]="documento.data['telefono']" required>
                  </div>
                  <label>Fecha de nacimiento</label>
                  <div class="form-group">
                    <input type="date" class="form-control" name="fecha_nacimiento" [(ngModel)]="documento.data['fecha_nacimiento']" required>
                  </div>           
                  <label>¿Es lider?</label> 
                  <div class="form-group">
                    <select name="graduado" class="form-control" [(ngModel)]="documento.data['graduado']" required>
                      <option value="Si">Si</option>
                      <option value="No">No</option>
                    </select>
                  </div>                
                  <label>Red a la que pertenece</label> 
                  <div class="form-group">
                    <select name="red" class="form-control" [(ngModel)]="documento.data['red']" required>
                      <option value="{{documento2.id}}" *ngFor="let documento2 of documentos2">{{documento2.data['descripcion']}}</option>
                    </select>
                  </div>                  
                  <div class="card-footer text-center">
                      <button [disabled]="!documentoForm.valid" type="submit" class="btn btn-info">Editar Usuario</button>
                    </div>
                </form>                
          </div>  
        </div>
      </div>
    </div>
</div>
  