<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>Editar Reporte</h4>
          </div>
          <div class="card-body">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/reporte-discipulado']" routerLinkActive="active">Listado Reportes</a></li>
                    <li class="breadcrumb-item"><a>Editar Reporte</a></li>
                  </ol>
                </nav>
              <form #documentoForm="ngForm" (ngSubmit)="updateDocumento()">
                  <label>Discipulado</label>
                  <div class="form-group">
                    <select name="discipulado" class="form-control" [(ngModel)]="documento.data['discipulado']" required>
                     <option value="{{documento2.id}}" *ngFor="let documento2 of documentos2">{{documento2.data['discipulado']}}</option>
                    </select>
                  </div>
                  <label>Fecha</label>
                  <div class="form-group">
                    <input type="date" class="form-control" name="fecha" [(ngModel)]="documento.data['fecha']" required>
                  </div>  
                  <label>Hora</label>
                  <div class="form-group">
                    <input type="time" class="form-control" name="hora" [(ngModel)]="documento.data['hora']" required>
                  </div>  
                    <label>Asistieron</label>
                    <div class="form-group">
                      <input type="number" class="form-control" min="0" name="asistieron" [(ngModel)]="documento.data['asistieron']" required>
                    </div>                      
                    <label>Observaciones</label>
                    <div class="form-group">
                      <textarea class="form-control" name="observaciones" class="form-control" ngModel></textarea>
                    </div>   
                  <div class="card-footer text-center">
                      <button [disabled]="!documentoForm.valid" type="submit" class="btn btn-info">Editar Grupo</button>
                    </div>
                </form>                
          </div>  
        </div>
      </div>
    </div>
</div>
  