<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">
                  Agregar lideres a grupo
                </h5>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <th>Nombre de lider</th>
                        <th class="text-right">Agregar</th>
                      </tr> 
                      <tr *ngFor="let liderRed of lideresRed">
                        <td>{{liderRed.data['nombre']}} {{liderRed.data['apellido']}}</td>
                        <td class="text-right">
                          <button class="btn btn-warning btn-sm acciontabla" (click)="agregarLider(liderRed.id);">
                              <i class="nc-icon nc-simple-add"></i>
                            </button>   
                        </td>
                      </tr>                     
                    </table>                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="formModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">
                  Agregar usuarios a grupo
                </h5>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <th>Nombre y apellido</th>
                        <th class="text-right">Agregar</th>
                      </tr> 
                      <tr *ngFor="let usuarioRed of usuariosRed">
                        <td>{{usuarioRed.data['nombre']}} {{usuarioRed.data['apellido']}}</td>
                        <td class="text-right">
                          <button class="btn btn-warning btn-sm acciontabla" (click)="agregarUsuario(usuarioRed.id);">
                            <i class="nc-icon nc-simple-add"></i>
                            </button>   
                        </td>
                      </tr>                     
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Personas que conforman este grupo</h4>
        </div>
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a [routerLink]="['/grupo']" routerLinkActive="active">Listado Grupos</a></li>
                  <li class="breadcrumb-item"><a>Usuarios en Grupo</a></li>
                </ol>
              </nav>
                <label>Nombre de lideres</label>
                <br>
                <button class="btn btn-warning btn-sm acciontabla" (click)="openForm();">
                  <i class="nc-icon nc-zoom-split"></i>
                </button>       
                <div class="table-responsive">
                    <table class="table">
                      <tr>
                          <th>Lider</th>
                          <th class="text-right">Acción</th>
                      </tr>
                      <tr *ngFor="let liderGrupo of lideresGrupo; let i = index">
                        <td>{{liderGrupo.data['nombre']}}  {{liderGrupo.data['apellido']}}</td>
                        <td class="text-right">
                          <button class="btn btn-danger btn-sm acciontabla" (click)="deleteLider(liderGrupo.id, i)">
                            <i class="nc-icon nc-simple-remove"></i>
                          </button>
                        </td>
                      </tr>
                  </table>                  
                </div>  
                <br>
                <label>Personas que asisten a este grupo</label>
                <br>
                <button class="btn btn-warning btn-sm acciontabla" (click)="openForm2();">
                  <i class="nc-icon nc-zoom-split"></i>
                </button>  
                <div class="table-responsive">
                    <table class="table">
                      <tr>
                          <th>Integrantes</th>
                          <th class="text-right">Acción</th>
                      </tr>
                      <tr *ngFor="let usuarioGrupo of usuariosGrupo; let i = index">
                        <td>{{usuarioGrupo.data['nombre']}} {{usuarioGrupo.data['apellido']}}</td>
                        <td class="text-right">
                          <button class="btn btn-danger btn-sm acciontabla" (click)="deleteUsuario(usuarioGrupo.id, i)">
                            <i class="nc-icon nc-simple-remove"></i>
                          </button>
                        </td>
                      </tr>
                    </table>                  
                  </div>  
        </div>  
      </div>
    </div>
  </div>
</div>

