<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>Nueva Planificacion de grupo</h4>
          </div>
          <div class="card-body">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/planificacion-grupo']" routerLinkActive="active">Listado Planificaciones</a></li>
                    <li class="breadcrumb-item"><a>Crear Planificación</a></li>
                  </ol>
                </nav>
              <form #documentoForm="ngForm" (ngSubmit)="addDocumento(documentoForm)">
                <label>Grupo al que pertenece</label> 
                <div class="form-group">
                  <select name="grupo" class="form-control" ngModel required>
                    <option value="{{documento3.id}}" *ngFor="let documento3 of documentos3">{{documento3.data['nombre']}}</option>
                  </select>
                </div> 
                <label>Tema</label> 
                  <div class="form-group">
                    <select name="tema" class="form-control" ngModel required>
                      <option value="{{documento2.id}}" *ngFor="let documento2 of documentos2">{{documento2.data['nombre']}}</option>
                    </select>
                  <label>Fecha a realizar</label>
                  <div class="form-group">
                    <input type="date" class="form-control" name="fecha" ngModel required>
                  </div>                    
                  </div>
                  <label>Predicador</label> 
                  <div class="form-group">
                      <ng-select [items]="documentos4"
                      bindLabel="data.nombreCompleto"
                      bindValue="id"
                      ngModel required
                      notFoundText="No hay resultados para esta búsqueda."
                      name="predicador">
                      </ng-select>  
                  </div> 
                  <label>Bienvenida y visión</label> 
                  <div class="form-group">
                      <ng-select [items]="documentos4"
                      bindLabel="data.nombreCompleto"
                      bindValue="id"
                      ngModel required
                      notFoundText="No hay resultados para esta búsqueda."
                      name="bienvenida_vision">
                      </ng-select>                      
                  </div> 
                  <label>Ofrenda</label> 
                  <div class="form-group">
                      <ng-select [items]="documentos4"
                      bindLabel="data.nombreCompleto"
                      bindValue="id"
                      ngModel required
                      notFoundText="No hay resultados para esta búsqueda."
                      name="ofrenda">
                      </ng-select>                        
                  </div>                                               
                  <div class="card-footer text-center">
                      <button [disabled]="!documentoForm.valid" type="submit" class="btn btn-info">Agregar Planificación</button>
                    </div>
                </form>                
          </div>  
        </div>
      </div>
    </div>
  </div>
  
