<div class="wrapper wrapper-full-page ">
  <div class="full-page section-image" filter-color="red" data-image="fondo.png">
    <div class="content fondo">
      <div class="container">
          <div class="row justify-content-md-center">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title text-center">PANEL COPLUS</h4>
                  </div>
                  <div class="card-body ">
                      <form #documentoForm="ngForm">
                        <label>Correo Electrónico</label>
                        <div class="form-group">
                          <input type="text" class="form-control" #userName required>
                        </div>
                        <label>Contraseña</label>
                        <div class="form-group">
                          <input type="password" class="form-control" #userPassword required>
                        </div>                      
                                                                       
                        <div class="card-footer text-center">
                            <input type="button" class="btn amarillo" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
                          </div>                          
                      </form>   
                      
                      <div class="forgotPassword">
                          <a [routerLink]="['/pages/recuperacion-password']">Olvide mi contraseña</a>
                        </div>
                  </div>
                </div>
              </div>  
            </div>

      </div>
    </div>
  </div>
</div>

