<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>Nueva Predica</h4>
          </div>
          <div class="card-body">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/predica']" routerLinkActive="active">Listado Predicas</a></li>
                    <li class="breadcrumb-item"><a>Crear Predica</a></li>
                  </ol>
                </nav>
              <form #documentoForm="ngForm" (ngSubmit)="addDocumento(documentoForm)">
                  <label>Nombre de la predica</label>
                  <div class="form-group">
                    <input type="text" class="form-control" name="nombre" ngModel required>
                  </div>
                  <label>Mes al cual corresponde</label>
                  <div class="form-group">
                    <select class="form-control" name="mes" ngModel required>
                      <option value="Enero">Enero</option>
                      <option value="Febrero">Febrero</option>
                      <option value="Marzo">Marzo</option>
                      <option value="Abril">Abril</option>
                      <option value="Mayo">Mayo</option>
                      <option value="Junio">Junio</option>
                      <option value="Julio">Julio</option>
                      <option value="Agosto">Agosto</option>
                      <option value="Septiembre">Septiembre</option>
                      <option value="Octubre">Octubre</option>
                      <option value="Noviembre">Noviembre</option>
                      <option value="Diciembre">Diciembre</option>
                    </select>
                  </div>
                  <label>Semana</label>
                  <div class="form-group">
                    <input type="number" class="form-control" name="semana" ngModel required>
                  </div>
                  <label>Versículos que debe llevar la predica</label>
                  <div class="form-group">
                      <input type="text" class="form-control" name="versiculos" ngModel required placeholder="Ej: Genesis 1:1, Hebreos 2:10, Juan 1:1">
                    </div>
                  <div class="card-footer text-center">
                      <button [disabled]="!documentoForm.valid" type="submit" class="btn btn-info">Agregar Predica</button>
                    </div>
                </form>                
          </div>  
        </div>
      </div>
    </div>
</div>
  