<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>Nuevo Discipulado</h4>
          </div>
          <div class="card-body">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/discipulado']" routerLinkActive="active">Listado Discipulados</a></li>
                    <li class="breadcrumb-item"><a>Crear Discipulado</a></li>
                  </ol>
                </nav>
              <form #documentoForm="ngForm" (ngSubmit)="addDocumento(documentoForm)">
                  <label>Nombre de Discipulado</label>
                  <div class="form-group">
                    <input type="text" class="form-control" name="discipulado" ngModel required>
                  </div>
                  <label>Red a la que pertenece</label> 
                  <div class="form-group">
                    <select name="red" class="form-control" ngModel required>
                      <option value="{{documento2.id}}" *ngFor="let documento2 of documentos2">{{documento2.data['descripcion']}}</option>
                    </select>
                  </div>
                  <label>¿A que discipulado pertenece el discipulado?</label> 
                  <div class="form-group">
                    
                      <ng-select [items]="documentos"
                      bindLabel="data.discipulado"
                      bindValue="id"
                      ngModel
                      notFoundText="No hay resultados para esta búsqueda."
                      name="discipuladoPadre">
                      </ng-select>

                  </div>
                  <label>Direccion donde se realiza</label>
                  <div class="form-group">
                    <input type="text" class="form-control" name="direccion" ngModel required>
                  </div>
                  <label>Zona ubicada</label>
                  <div class="form-group">
                    <input type="text" class="form-control" name="zona" ngModel required>
                  </div>
                  <label>Hora en que se realiza</label>
                  <div class="form-group">
                    <input type="time" class="form-control" name="hora" ngModel required>
                  </div>                             
                  <div class="card-footer text-center">
                      <button [disabled]="!documentoForm.valid" type="submit" class="btn btn-info">Agregar Discipulado</button>
                    </div>
                </form>                
          </div>  
        </div>
      </div>
    </div>
  </div>
  
